html{
    font-family: Gill Sans Extrabold, sans-serif;
}
header{
    text-align: center;
}
.no-results{
    font-size: 20px;
    color: #FF4136
}
a:link, a:visited, a.active, a:hover{
    text-decoration: none;
}
#people{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.person{
    border:2px solid #ccc;
    border-radius: 5px;
    padding:20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor:pointer;
    flex: 1 400px;
    margin:5px;
    max-width: 400px;
}

.name{
    color:#999;
    font-weight:bold;
    text-transform:capitalize;
}
.email, .city{
    color:#666;
}

img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-right: 20px;
}
.person:hover{
    background-color:#d3d3d3;
}
.person-modal{
    padding:20px;
    text-align:center;
    position:relative;
}
.person-modal .info{
    margin-bottom:30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.person-modal .avatar{
    height:150px;
    width:150px;
}

#overlay{
    background:rgba(0,0,0,0.7);
    width:100%;
    height: 100%;
    top:0;
    left:0;
    position: fixed;
    overflow: hidden;
    z-index:2;
}
#modal{
    background:white;
    max-width:390px;
    height: auto;
    margin: auto;
    margin-top: 100px;
    border:1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    z-index:9;
}
#modal .img{
    width: 150px;
    height:150px;
}
.close, .next, .prev{
    color:#6a6a6a;
    font-size: 20px;
    background-color: #ccc;
    width: 22px;
    padding: 2px;
    border-radius: 50%;
}
.close:hover, .next:hover, .prev:hover{
    background-color: #acacac;
}
.close{
    position:absolute;
    top:10px;
    right:10px;
}
.next{
    position: absolute;
    right: 5px;
    top: 50%;
}
.prev{
    position: absolute;
    left: 5px;
    top: 50%;
}
input{
    border: 1px solid #ccc;

    font-size: 16px;
}
@media (max-width: 400px) {
    #people{
        margin:0;
    }
    .person {
        flex-direction: column;
        justify-content: center;
        flex:1 auto;
    }
    .avatar{
        margin-bottom: 20px;
    }
}