#people{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}
.person{
    min-width:355px;
    border:2px solid #ccc;
    border-radius: 5px;
    padding:25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
a:link, a:visited, a.active, a:hover{
    text-decoration: none;
}
.name{
    color:#999;
    font-weight:bold;
    text-transform:capitalize;
}
.email, .city{
    color:#666;
}
p{
    line-height: 10px;
}
img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
}
#modal .person{
    flex-direction:row;
}
#modal .img{
    width: 150px;
    height:150px;
}
#overlay{
    background:rgba(0,0,0,0.7);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}
#modal{
    background:white;
    width:400px;
    height:300px;
    margin: auto;
    margin-top: 100px;
    padding:40px;
}
